@font-face {
    font-family: "xxix";
    src: url(../font/xxix.otf);
}
.splash {
    background-color: #1C1D22;
    position: fixed;
    width: 100%;
    height: 100%;
    user-select: none;
}
.splash p {
    font-size: 6rem !important;
    font-family: xxix;
    color: #DDD;
}
.stack {
    display: grid;
    grid-template-columns: 1fr;
    color: #BBB;
    align-items: center;
    justify-items: center;
    overflow: hidden;
}

    .stack p {
        font-weight: bold;
        font-size: 1.35rem;
        grid-row-start: 1;
        grid-column-start: 1;
        --stack-height: calc(100% / var(--stacks) - 1px);
        --inverse-index: calc(var(--stacks) - 1 - var(--index));
        --clip-top: calc(var(--stack-height) * var(--index));
        --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
        clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
        animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2.5s ease infinite 2s alternate-reverse;
    }

        .stack p:nth-child(odd) {
            --glitch-translate: 60px;
        }

        .stack p:nth-child(even) {
            --glitch-translate: -60px;
        }

@keyframes stack {
    0% {
        opacity: 0;
        transform: translateX(-50%);
        text-shadow: -2px 3px 0 magenta, 2px -3px 0 cyan;
    }

    60% {
        opacity: 0.5;
        transform: translateX(50%);
    }

    80% {
        transform: none;
        opacity: 1;
        text-shadow: 2px -3px 0 magenta, -2px 3px 0 cyan;
    }

    100% {
        text-shadow: none;
    }
}

@keyframes glitch {
    0% {
        text-shadow: -2px 3px 0 magenta, 2px -3px 0 cyan;
        transform: translate(var(--glitch-translate));
    }

    2% {
        text-shadow: 2px -3px 0 magenta, -2px 3px 0 cyan;
    }

    100%,4% {
        text-shadow: none;
        transform: none;
    }
}